/* Reseteo Estilos por defecto del navegador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    min-height: 100vh;
}

/* Cabecera */

.cabecera {
    background-color: #323232;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

.cabecera__logo {
    width: 200px;
}

.navegacion__lista {
    display: flex;
    gap: 16px;
}

/* Seccion 1 - Index */

.seccion1 {
    padding-top: 80px;
    min-height: 50vh;
    background-image: url('../imagenes/fondo-patron-potrerodigital.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion1__fondo {
    background-color: rgba(50, 50, 50, 0.8);
    color: #ffffff;
    max-width: 500px;
    text-align: center;
    padding: 16px;
    
}

.seccion1__parrafo {
    margin-top: 16px;
}

/* Seccion 2 Index */

.seccion2 {
    background-image: linear-gradient(90deg, rgb(9, 17, 17) 25%, rgb(240, 236, 33) 63%);
    min-height: 100vh;

    display: flex;
    align-items: center;
    padding: 32px;
}

.seccion2__contenido {
    width: 50%;
    color: #ffffff;
}

.seccion2__subtitulo {
    font-size: 60px;
    color: #ffffff;
}

.seccion2__parrafo {
    margin-top: 16px;
    margin-bottom: 16px;
}

.seccion2__boton {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
}

.seccion2__video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}



/* Seccion 3 Estadisticas */

.seccion3 {
    /* background-color: yellow; */
    padding: 32px;
}

.seccion3__titulo {
    font-size: 80px;
    text-align: center;
    margin-bottom: 32px;
}

.cajas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.caja {
    /* background-color: #babbba; */
    color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 2px solid #F0EC21;
}

.caja__cantidad {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.caja__titulo {
    font-size: 14px;
    text-align: center;
    color: #000000;
}

/* Seccion 4 */

.seccion4 a{
    background-color: #00ff62;
    color: #000000;
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding: 16px;
    border-radius: 10px;
}

/* Footer */

.footer {
    background-color: #000;
    color: #ffffff;
    padding: 32px;
}

/* Seccion Cursos  */

.seccion-cursos {
    background-color: yellow;
    min-height: 100vh;
    padding: 50px 0;

}

.seccion-cursos h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}

@media (max-width:992px) {
    .cabecera {
        flex-direction: column;
    }

    .cabecera a {
        align-self: center;
    }

    .navegacion__lista {
        flex-wrap: wrap;
    }

    .seccion1 {
        padding-top: 100px;
        min-height: 80vh;
    }

    .seccion2 {
        flex-direction: column;
        gap: 20px;
    }

    .seccion2__contenido {
        width: 100%;
    }

    .seccion2__subtitulo {
        font-size: 30px;
    }

    .seccion3__titulo {
        font-size: 40px;
    }

    .cajas {
        flex-direction: column;
        align-items: center;
    }

    .caja {
        width: 200px;
        height: 200px;
    }
}

